@page
@model Foci.Pages.AdatokFeltolteseFajlbolModel
@{
    ViewData["Title"] = "Adatok Feltöltése";
}

<form method="post" enctype="multipart/form-data">
    <label asp-for="Feltoltes"> Add meg a fájlt</label>
    <input asp-for="Feltoltes" type="file"/>
    <input type="submit" value="Feltöltés"/>
</form>
